* {
    font-family: 'Times New Roman', Times, serif;
}

.list-container {
    border: thick solid black;
    border-radius: 10px;
    padding: 5px;
}

.list-item {
    border: medium solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: grab;
}

.md-border {
    border: medium solid black;
    border-radius: 10px;
}

.th-border {
    border: thick solid black;
    border-radius: 10px;
}

.pad-5 {
    padding: 5px;
}

.mar-5 {
    margin: 5px;
}

.tab-title {
    font-weight: bold;
    width: fit-content;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    top: 1px;
}

.tab-content {
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: fit-content;
    padding: 5px;
    min-width: 110px;
}

.tab-selected {
    border-bottom: 1px solid lightseagreen;
}

.tab-title-thin {
    font-weight: bold;
    width: fit-content;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: thin solid black;
    border-left: thin solid black;
    border-right: thin solid black;
    position: relative;
    top: 1px;
}

.tab-content-thin {
    border: thin solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: fit-content;
    padding: 5px;
    min-width: 100px;
}

.tab-selected-thin {
    border-bottom: thin solid white;
}

.tab-selected-thick {
    border-bottom: 6px solid white;
    background-color: white;
}

.tab-title-md {
    font-weight: bold;
    width: fit-content;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    position: relative;
    top: 3px;
}

.tab-content-md {
    border: 3px solid black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: fit-content;
    padding: 5px;
    min-width: 100px;
}

.tab-selected-md {
    border-bottom: 3px solid white;
}

.tab-title-thick {
    font-weight: bold;
    width: fit-content;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    position: relative;
    top: 2px;
}

.tab-content-thick {
    border: 6px solid black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: fit-content;
    padding: 5px;
    min-width: 100px;
}

.card {
    border: medium solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: fit-content;
}